.author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  & h1 {
    margin: 0 0 1em 0;
  }
  & h2 {
    margin: 0 0 1em 0;
  }
  & .author_content {
    padding: 2em;
  }
  & p {
    text-align: center;
  }
}
