* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel_img {
  height: 80%;
}

.me-auto {
  display: flex;
  justify-content: space-evenly;
}

.otm {
  margin: 1em;
  /* background-color: #f5f6fa; */
}

.cartShopping {
  /* color: white; */
}
