.footer {
  display: flex;
  color: white;
  background-color: #3a4059;
  /* align-items: ; */
  justify-content: space-evenly;
  /* height: 100px; */
}

ul {
  list-style-type: none;
  & h5 {
    border-bottom: 1px solid #c3c7d9;
  }
  & li {
    font-size: 0.8em;
  }
}
