.products {
  display: flex;
  justify-content: center;
  align-items: center;
  & .products_img {
    padding: 2em;
    height: 100%;
    width: 100%;
  }
  & .products_content {
    padding: 2em;
  }
}

button {
  margin: 0 1em 0 0;
  size: 5em;
}

icon {
  margin: 0 0.3em 0 0;
}
